.flex-container{
		display: flex;
		border: 2px solid #000000;
		max-width: 300px;
	}	

	.item{
		font-size: 24px;
		height: 50%;
		text-align: center;
		width: 100px;
		min-width: 100px;
		line-height: 70px;
	}

	.nowrap{
		flex-wrap: nowrap;
	}

	.wrap{
		flex-wrap: wrap;
	}

	.wrap-reverse{
		flex-wrap: wrap-reverse;
	}

	.blue{
		background-color: blue;
	}

	.green{
		background-color: lightgreen;
	}

	.orange{
		background-color: orange;
	}

	.purple{
		background-color: purple;
	}

