.flex-container{
	display: flex;
	border: 1px solid #000000;
	max-width: 400px;
	margin-bottom: 10px;
}

.default{
	flex-flow: row nowrap;
}

.wrap-reverse{
	flex-flow: row wrap-reverse;
}

.wrap{
	flex-flow: row wrap;
}

.nowrap{
	flex-flow: row-reverse nowrap;
}

.rr-wrap{
	flex-flow: row-reverse wrap;
}

.all-reverse{
	flex-flow: row-reverse wrap-reverse;
}

.item{
	background-color: blueviolet;
	margin: 5px;
	color: #ffffff;
	text-align: center;
	width: 100px;
	height: 50px;
	line-height: 50px;
}