.container{
	height: 400px;
	max-width: 300px;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #000000;
}

.item{
	background-color: orangered;
	padding: 5px;
	flex: 1;
	text-align: center;
	color: white;
	margin: 5px;
	border: 2px solid #000000;
}

.stretch{
	align-content: stretch;
}

.center{
	align-content: center;
}

.flex-start{
	align-content: flex-start;
}

.flex-end{
	align-content: flex-end;
}

.space-around{
	align-content: space-around;
}

.space-between{
	align-content: space-between;
}